/*Tweaks and Modifications*/
/**************************/
/*Disable upper range responsive media breakpoint*/
@media (min-width: 970px) and (max-width: 2500px) {
   .container {
      width: 970px;
   }
}

/*Allow a little padding in phone view*/
.padit {
	margin: 15px;
}

/*keep navbar from overlapping*/
body {
	padding-top: 50px;
}

/*****************************/
/* TEXT AND CUSTOM FORMATING*/

.test {
	border:3px solid #999999;
	background-color:#f0f8ff;
	padding:0px;
	}

.test2 {
	border:3px solid #999999;
	background-color:#518EF6;
	padding:0px;
	}

.text-center {
  text-align: center;
}

.sans-18 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

.sans-15 {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

/* Change navbar dropdown text*/
/*.nav.navbar-nav li a {
   color: #A35C15;
 }

.nav.navbar-nav a:hover {
 color: #A35C15;
}*/

/*ffs orange and font*/
.ffs-org{
	color: #CD771C;
	font-family: 'Lobster', cursive;
}

.lobster {
	font-family: 'Lobster', cursive;
}

.full-page {
	width: 100%;
	height: 100%;
	border: none;
}

.max-page {
	min-width: 90%;
	min-height: 600px;
	border: none;
}

.wrapper {
    position: relative;
    padding-bottom: 100%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.wrapper iframe embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*@import url('https://fonts.googleapis.com/css?family=Anton|Inconsolata');*/

h1 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: #362121;
}

h2,h3,h4 {
	font-family: 'Oswald', sans-serif;
	color: #667A9E;
	font-size: 170%;
}
}

p {
	font-family: 'Lato', sans-serif;
	margin-left: 20px;
}

p {
	color: #898A87;
}

.lgray {
	color: #898A87;
}

img {
	object-fit: cover;
}